<script src="{{ "js/jquery-3.5.1.min.js" | absURL }}"></script>
<link href="{{ "css/fancybox.min.css" | absURL }}" rel="stylesheet">
<script src="{{ "js/fancybox.min.js" | absURL }}"></script>
<script src="{{ "js/zozo.js" | absURL }}"></script>

{{ if .Site.Params.enableMathJax }}
{{ partial "mathjax.html" . }}
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

<script src="{{ "js/readingtime.min.js" | absURL }}">
</script>
<script charset="utf-8">
    if($('.doc_comments').length){
        // This is a single post
        $('.post_content').readingTime();
    } else {
        // This is a list of posts
        // Get reading time externally and paste it on the list
        $('.post').each(function(){
            let _this = $(this);
            _this.readingTime({
                readingTimeTarget: _this.find('.eta'),
                remotePath: _this.find('a').attr("href"),
                remoteTarget: '.post_content'
            });
        })
    }
</script>
